{% extends 'Crud_tp/base.html' %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">Posts</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>

  {% if user.is_authenticated %}
    <div class="row">
     <div class="col-md-10 col-xs-10 col-sm-10">
      <p> Welcome <bold> {{ user.get_username }} </bold> ! </br>
           => CREATE A POST : Feel free to add new fabulous posts by clicking on the green button :) </br>
           => READ A POST : Click on the title of the post to read a post </br>
           => EDIT A POST : Click on the pen icon to edit a post</br>
           => DELETE A POST : Click on the red garbage icon to delete a post</br></br></br>

        <em> => This website was brought to you by : an angsty student, a handy tutorial and some mozilla documentation</em>
      </p>
     </div>
     <div class="col-md-2 col-xs-1 col-sm-1">
      <br/>

               <a href="{% url 'post' %}">
                 <button type="button" class="btn btn-success">
                   <span class="glyphicon glyphicon-plus"></span>
                 </button>
               </a>
     </div>
    </div>
    <br/>
    {% else %}
     <div class="row">
        <div class="col-md-10  col-xs-10 col-sm-10">
          <p>You need to log in to add new posts ! (btw, the id is 'root' and the password is 'rootroot' :) )</p>
        </div>
     </div>
   {% endif %}

 {% for post in post_list %}
  <div class="row"> 
   <div class="col-md-1 col-xs-1 col-sm-1"></div> 
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group">
     
       <li class="list-group-item ">
     <a href="{% url 'detail' post.pk %}">{{ post.title }}</a>  <span class="badge"></span>
    </li> 
     </ul>
    <br>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1">
    <a href="{% url 'detail' post.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-open"></span>
     </button>
    </a>
   </div>
{% if user.is_authenticated %}
<div class="col-md-1">
    <a href="{% url 'edit' post.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-pencil"></span>
     </button>
    </a>
   </div>
{% else %}
      <div class="col-md-1">
          <p> To edit an article, you must log in</p>
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
   </div>
{% endif %}
   <div class="col-md-1">
    <a href="{% url 'delete' post.pk %}">
     <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span>
     </button>
    </a>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
</div>
{% endblock %}